body
{
	background: #000000;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: arial;
	
}
.cardBox
{
	perspective: 500npx;
	margin: 15px; /*Distance between Each Box*/
	
}
.card
{
	alignItems: center;
	justify-content :center;
	position: relative;
	width: 150px; 
	height: 150px;
	background: #fff;
	transform-tsyle: preserve-3d;
	transition: .5s ease;
	box-shadow: 0 30px 30px rgba(0,0,0,.5);

}
.first
{
	background: #ff66cc;	
}
.second
{
	background: #88ff4d;	
}
.third
{
	background: #00ffff;	
}
.card-front , .card-back
{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	color: #fff;
	backface-visibility: hidden;
	aling-items: center;
	justify-content: center;
}

.cardbox:hover .card
{
	transform: rotateY(180deg);

}
